.try-me-section {
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 100%;
  background-color: var(--dark-blue);
  border-radius: 12px;
  color: var(--white-text);
  padding: clamp(0.75rem, 5vw, 7rem) clamp(0.75rem, 7vw, 7rem);

  display: flex;
  flex-wrap: wrap;

  gap: 5vw;
  justify-content: space-around;
  align-items: center;
}

.content .text {
  width: 70%;
}

.forth-section p {
  color: var(--light-gray);
}
@media (max-width: 768px) {
  .content .text {
    width: 100%;
  }
}
