.skills-section {
  height: auto;
  width: 100%;
  padding: clamp(2rem, 5vw, 3.5rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section h2 {
  color: var(--white-text);
  text-decoration: underline;
  text-underline-offset: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: clamp(1rem, 3vw, 4rem);
  padding: clamp(2rem, 5vw, 3.5rem) 0;
}

.card {
  position: relative;
  border-radius: 15px;
  width: clamp(400px, 40%, 800px);
  padding: clamp(1.5rem, 3vw, 2.5rem);
  aspect-ratio: 9/11;
  background-color: var(--dark-gray);
  opacity: 1;
  transition: all 0.8s ease-out;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card.visible {
  opacity: 1;
  transform: translateX(0);
}

.card img {
  position: absolute;
  top: -20%;
  left: -50%;
  width: clamp(250px, 30vw, 400px);
}

.card li {
  margin-bottom: clamp(1rem, 2vw, 2rem);
}

.card2 {
  margin-top: 5vh;
  background-color: var(--gray);
  color: white;
}

.card .card-point-exp {
  color: var(--gray);
}

.card2 .card-point-exp {
  color: #e2e8f0;
}
