<div id="skills" class="skills-section">
    <h2>Services</h2>
    <div class="cards">
        <div class="card fade-in">
            <img src="/assets/svgs/phone-mockup.svg" alt="phone-mockup">
            <h3>Mobile Development</h3>
            <ul>
                <li>
                    <h6> <i class="fa-solid fa-arrow-right" style="color:var(--secondary-color)"></i>
                        Cross-Platform App Development
                    </h6>
                    <p class="card-point-exp">I craft performant, responsive mobile apps for both Android and iOS using
                        a single codebase in Flutter.
                    </p>
                </li>
                <li>
                    <h6> <i class="fa-solid fa-arrow-right" style="color:var(--secondary-color)"></i>
                        State Management Mastery</h6>
                    <p class="card-point-exp">I implement scalable architectures using GetX, BLoC, or Redux, based on
                        project needs.</p>
                </li>
                <li>
                    <h6> <i class="fa-solid fa-arrow-right" style="color:var(--secondary-color)"></i>
                        Firebase Integration</h6>
                    <p class="card-point-exp">Real-time database, authentication, notifications, and analytics—all fully
                        integrated for a seamless user experience.</p>
                </li>
            </ul>
            <p>Currently leading mobile development at SmartC for the SmartGros e-commerce
                application,
                focusing on performance, UI/UX, and feature integration.</p>



        </div>
        <div class="card card2 fade-in">
            <h3>Web Development</h3>


            <ul>
                <li>
                    <h6> <i class="fa-solid fa-arrow-right" style="color:var(--primary-color)"></i>
                        Interactive & Responsive Web Apps
                    </h6>
                    <p class="card-point-exp">I create clean, responsive, and engaging user interfaces using Angular.
                    </p>
                </li>
                <li>
                    <h6> <i class="fa-solid fa-arrow-right" style="color:var(--primary-color)"></i>
                        Backend Integration</h6>
                    <p class="card-point-exp">From API consumption to Firebase integration, I ensure seamless data flow
                        and real-time
                        interactions across platforms.</p>
                </li>
            </ul>


            <ul>
                <li>
                    <h6> <i class="fa-solid fa-arrow-right" style="color:var(--primary-color)"></i>
                        RESTful API Development</h6>
                    <p class="card-point-exp">I build robust and secure REST APIs using Spring Boot, ideal for
                        connecting mobile/web frontends
                        with scalable server-side logic.</p>
                </li>
                <li>
                    <h6> <i class="fa-solid fa-arrow-right" style="color:var(--primary-color)"></i>
                        Database Management</h6>
                    <p class="card-point-exp">Proficient in working with MySQL, MongoDB and Firebase Firestore,
                        ensuring structured,
                        efficient, and reliable data storage.</p>
                </li>
                <li>
                    <h6> <i class="fa-solid fa-arrow-right" style="color:var(--primary-color)"></i>
                        Clean Architecture</h6>
                    <p class="card-point-exp">I follow clean code principles and layered architecture for maintainable
                        and testable backend
                        solutions.</p>
                </li>
            </ul>

        </div>
    </div>


</div>