@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
.white-button {
  --angle: 0deg;
  position: relative;
  i {
    transition: transform 0.3s ease-in-out;
  }

  &:hover i {
    transform: translateX(6px);
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    background-image: conic-gradient(
      from var(--angle),
      transparent 80%,

      var(--primary-color)
    );
    padding: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: -1;
    animation: 3s spin ease-in-out infinite;
  }
}
.white-button::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
/* rajaa lspin */
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
