<div class="mac-window">
    <div class="mac-titlebar">
        <div class="mac-buttons">
            <span class="mac-btn red"></span>
            <span class="mac-btn yellow"></span>
            <span class="mac-btn green"></span>
        </div>
        <div *ngIf="mediaUrls.length>1" class="mac-nav-buttons">
            <i (click)="prevImage()" class="fa-solid fa-arrow-left" style="color:var(--secondary-color)"></i>
            <i (click)="nextImage()" class="fa-solid fa-arrow-right" style="color:var(--secondary-color)"></i>

        </div>
    </div>
    <div class="mac-content">
        <img [src]="mediaUrls[currentIndex]" class="mac-image" alt="Media" />
    </div>
</div>