<nav class="navbar">
    <div class="container">

        <div class="avatar">
            <img src="/assets/svgs/logo.svg" alt="logo">
            <div class="name">
                <h6>Houcem Hbiri</h6>
                <div class="available">
                    <div class="available-circle"></div>
                    <p>available for hire</p>
                </div>

            </div>
        </div>


        <ul [ngClass]="{'visible':isVisible,'hidden':!isVisible}" class="nav-links ">
            <li><a routerLink="/">Home</a></li>
            <li><a href="#skills">About</a></li>
            <li><a href="#projects" (click)="scrollToProjects()">Projects</a></li>
        </ul>
        <div class="buttons">
            <a class="cv" href="/assets/pdfs/cv_eng.pdf" download="Houcem-Hbiri.pdf">
                <div class="cv-preview">
                    <img src="/assets/images/cv_eng.png" alt="CV Preview" />
                </div>
            </a>
            <a class="button" href="https://mail.google.com/mail/?view=cm&fs=1&to=houcem.hbiri1@gmail.com"
                target="_blank">
                Get in touch
            </a>



        </div>



    </div>
</nav>