.folder-wrapper {
  position: sticky;
  top: var(--offset);
  transform: scale(var(--scale));
  height: auto;
  min-height: 90vh;
  margin-top: -1%;
  overflow: hidden;
}
.folder-container {
  position: relative;
  width: 100%;
  padding: 6% 0 0;
  height: 100%;

  .folder-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: var(--bg-color, var(--primary-color));
  }
}
.folder-content-wrapper {
  padding: clamp(0.8rem, 20vw, 5rem) clamp(0.8rem, 4vw, 1.875rem) 0px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.folder-content {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 30px;
}
.folder-content .infos {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
  gap: 20px;
}
.folder-content .media {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-bottom: 70px;
}

.folder-content-wrapper h5 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.infos p {
  white-space: pre-line;
}

.button img {
  object-fit: contain;
  height: 50px;
}
.folder-content-wrapper.mobile-container {
  background-color: #fff;
  box-shadow: none; /* Optional: remove shadow on mobile */
  border-radius: 15px;
  padding: 20px;
}
@media (max-width: 768px) {
  .folder-background {
    display: none; /* Hide the SVG on mobile */
  }

  /* Apply the rounded container styles on mobile */
  .folder-container {
    border-radius: 15px; /* Make it more rounded on mobile */
    padding: 15px;
  }

  .folder-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .folder-content .infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 30px;
  }
}
