<footer class="footer border-bottom">
    <div style="display: flex;width: 100%;height: 100%;">

        <div class="footer-columns">
            <div class="column">
                <h4>About</h4>
                <ul>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                </ul>
            </div>

            <div class="column">
                <h4>Resources</h4>
                <ul>
                    <li><a href="/assets/pdfs/cv_eng.pdf">Download CV</a></li>
                    <li><a
                            href="mailto:houcem.hbiri1@gmail.com?subject=Hello%20there&body=I%20wanted%20to%20reach%20out%20about...">Contact
                            me</a></li>
                </ul>
            </div>

            <div class="column">
                <h4>Connect</h4>
                <ul>
                    <li><a href="https://linkedin.com/in/houcem-hbiri" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/HoucemHb" target="_blank">GitHub</a></li>
                </ul>
            </div>

        </div>
        <div class=" logo">
            <img src="/assets/svgs/logo.svg" width="30px" height="30px" alt="">
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2025 Houcem Hbiri. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="#privacy">Privacy</a></li>
            <li><a href="#terms">Terms</a></li>
        </ul>
    </div>

</footer>