<div class="android-wrapper">
    <i (click)="prevImage()" class="fa-solid fa-arrow-left" [style.color]="arrowsColor"
        [style.visibility]="mediaUrls.length > 1 ? 'visible' : 'hidden'"
        [style.pointerEvents]="mediaUrls.length > 1 ? 'auto' : 'none'"></i>
    <div class="android-frame">
        <div class="android-top-bar">
        </div>
        <div class="android-content">
            <img [src]="mediaUrls[currentIndex]" alt="Scrollable content" />

        </div>
    </div>
    <i (click)="nextImage()" class="fa-solid fa-arrow-right" [style.color]="arrowsColor"
        [style.visibility]="mediaUrls.length > 1 ? 'visible' : 'hidden'"
        [style.pointerEvents]="mediaUrls.length > 1 ? 'auto' : 'none'"></i>



</div>